/* Fonts */
/* Header font */
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
/* text font */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
.rounded{
    font-family: 'Lora', serif;
}
label{
    font-family: 'PT Sans', sans-serif;
}
/* General stylings */
hr {
    border: none;
    /* top    */ border-top: 1px solid #ccc;
    /* middle */ background-color: #ddd; color: #ddd;
    /* bottom */ border-bottom: 1px solid #eee;
    height: 1px;
}